@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;

}




body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    background: url(imag6.png)no-repeat;
    background-size: cover;
}



 section {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(imag47.png)no-repeat;
    background-size: cover;
    background-position: center;
 }

 .logo{
    color: green;
    font-family: Arial;
    float: left;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 10px;

}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0,.5)50%), url(imag6.png);
    background-position: center;
    background-size: cover;
    height: 109vh;

}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.menu {
   width: 400px; 
   float: left;
   height: 70px;

}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
   text-decoration: none; 
   color: black;
   font-family: Arial;
   font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: rgba(41, 128, 0, 0.808);

}
.Signin-btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #4caf50;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
}

.btn{
     display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #4caf50;
    font-size: 14px;

}
.content{
    flex: 1;
    width: 1200px;
    height: auto;
    margin: auto;
    color: green;
    position: relative;

}
.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
    margin-left: 10px;

}
.about-image:hover {
    transform: scale(1.2);
}

.content .p{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;

}

.content h1{
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: lightgreen;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: rgb(150, 127, 255);
    transition: .3s ease;
    
}

 .cn{
   
    display: inline-block;
    padding: 10px 20px;
    background-color:#4caf50 ;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;

 }
.login-box {
    position: relative;
    width: 400px;
    height: 600px;
    background: rgb(0, 128, 64);
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {

    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 300px;
    margin: 30px 0;
border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}
    
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;

}

.remember-forget {

    margin: -15px 0 15px;
    font-size: -9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    margin-right: 3px;


}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;

}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;

}

.registr-link {
    font-size: -9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.registr-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.registr-link p a:hover {
    text-decoration: underline;

}

@media (max-width: 360px) {
    .login-box {
        width: 100%;
        height: 100vh;
    }
}
.image {
    width: 300px;

}

.frontimage {
    margin-left: 200px;
    margin-top: 200px;
}

.SignUp-box {
    position: relative;
    width: 400px;
    height: 600px;
    background: rgb(0, 128, 64);
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}


h2 {

    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 300px;
    margin: 30px 0;
border-bottom: 2px solid white;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}


.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}



@media (max-width: 360px) {
    .Next-box {
        width: 100%;
        height: 100vh;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body{
    background-color: #f2f2f2;
}
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto ;
}
    
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;

}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
 
.container {
    width:90%;
    margin: 0 auto;
    padding: 10px 20px;

}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.about-image{
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 10%;
}
.button .cn{
    display: inline-block;
    padding: 10px 20px;
    color: #4caf50;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}


.Verifying-box{
    position: relative;
    width: 400px;
    height: 500px;
    background: rgb(0, 128, 64);
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: inline-block;
    padding: 10px 20px;
    color: #4caf50;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.content p{
    margin: 10px 0 30px;
    color: #333; 
}