body {
    background-color:#f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    
}
.login-container {
    background-color: rgb(0, 128, 64);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}  
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    
}
.login-container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: #45a049;
}
#message {
    text-align: center;
    margin-top: 15px;
   
}
