* {
 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   font-family: 'Roboto', sans-serif; 
}

body{
   

   background-color: #f2f2f2;
}
.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto ;
}
    
.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;

}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
 
.container {
    width:90%;
    margin: 0 auto;
    padding: 10px 20px;

}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.about-image{
    flex: 1;
    margin-left: 40px;
    overflow: hidden;
    position: relative;
   
    
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5% ease;
}
.about-image:hover img{
    transform: scale(1,2);
}

.about-content {
    flex: 1;
}

.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}
.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color:#4caf50 ;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}
.about-content .read-more:hover{
    background-color: #3e8e41;

}
@media screen and (max-width: 768px) {
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom:0px ;
        
    }
    .container{
        padding: 0px;

    }
.about{
    padding: 20px;
    flex-direction: column;
}

.about-content{
    padding: 0px;
    font-size: 16px;
}
.about-content .read-more{
    font-size: 16px;
}
       
    

}




h2{
       font-size: 18px;
    color: #333;

}
.content p{
    margin: 10px 0 30px;
    color: #333; 
}

.Login{
   display: inline-block; 
   text-decoration: none;
   padding: 14px 40px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #4caf50);
    transition: 0.5s ease;
}

button{
    
    width: 40%;
    height: 40px;
    background: #4caf50;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
  
}
.nav{
  padding: 10px 0; 
  display: flex; 
  align-items: center;
  justify-content: space-between;

}
.logo{
    width: 140px;
    color:#4caf50;
    font-size: 40px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 400;

}
.login-btn{
   text-decoration: none; 
   color: #000;
   margin-right: 15px;
   font-weight: 400;
   font-size: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #4caf50);
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}