{% extends "layout.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
  <div class="heading">
      <h1>About Us</h1>
      <p>
        ProTrade is a certified financial firm that manages client portfolios,
        analyzes market trands, and executes trades through newly developed
        application. It acts as intermediaries, buying, selling stocks,
        bonds, and other investments on the behaf of clients. It also
        offers investment advice to help clients meet their financail goals.
        ProTrade is the leading fianincial firm that facilitates stock market
        trades based on client instruction or their own recomendation.
      </p>
  </div>

  <div class="container">
      <section class="about">
          <div class="about-image">
              <img src="{{ url_for('static', filename='imag5.png') }}" alt="About ProTrade">
          </div>

          <div class="about-content">
              <h2>Intelligent Market Systems</h2>
              <p>
                ProTrade online trading applications have empowered traders to managers.
                These days most apps come with various risks and challenges including
                security concerns, market volatility, real-time data integration,
                user experience, data accuracy and reliability. However, ProTrade is
                equiped with fast-paced and high performace secuirty tools. Security is the
                most serious concern when using stock trading apps. Security risk can lead
                to sensitive personal and financial data breaches. ProTrade provides real-time
                access to market data to make cautious rather than impulsive trading decisions
                particularly during critical trading moments.
              </p>

              <a href="#" class="read-more">Read More</a>
          </div>
      </section>
  </div>
{% endblock %}
