{% extends "layout.html" %} 
{% block content %}

<body>
    <div class="heading">
        
    
        <div class="content">
               <h1>Welcome to ProTrade</h1>

            <p>Hello User!  We are glad to have you here.<br> 
               ProTrade is your gateway to the world of
                 trading and investment opportunities.  </p>
         </div> 
             
            <div class="about-content">
                <h2>Discover the Power of ProTrade</h2>
                <p>ProTrade is a leading online trading 
                    platform that provides users with access 
                    to a wide range of financial markets,
                    including stocks, forex, commodities, 
                    and cryptocurrencies. With its user-friendly
                    interface and powerful trading tools, 
                    ProTrade empowers traders of all levels 
                    to make informed decisions and execute 
                    trades with confidence.</p >
        <section class="about">
            <div class="about-image">
                <img src="{{ url_for('static', filename='imag10.png') }}" alt="About ProTrade">
            </div>
        </section>
            <div class="about-content">
                <h2>Create your investing game plan with ProTrade</h2>
                <p>ProTrade is a leading online trading 
                    platform that provides users with access 
                    to a wide range of financial markets,
                    including stocks, forex, commodities, 
                    and cryptocurrencies. With its user-friendly
                    interface and powerful trading tools, 
                    ProTrade empowers traders of all levels 
                    to make informed decisions and execute 
                    trades with confidence.</p>                                                      
            </div>
        </form>
</body>
</html>



{% endblock %}