{% extends "layout.html" %}
{% block title %}login{% endblock %}

{% block page_css %}
<link rel = "stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}
 <div class="login-box">
        <form action="">
            <h2>login</h2>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="mail"></ion-icon>
                 </span>
                 <input type="email" required>
                 <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
            <input type="password" required>
            <label>password</label>
            </div>
            <div class="remember-forget">
                <label><input type="checkbox">Remember me</label>
                <a href="Resett.html">Forget Password?</a> 
            </div>
            <button type="submit">Login</button>
            <div class="registr-link">
                <p>Don't have an account? <a href="Sign Up.html">Register</a></p>
            </div>
        </form>
    </div>
   

{% endblock %}